@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Damian Adams:</strong> <a href="mailto:DamianAdams96@hotmail.com">DamianAdams96@hotmail.com</a><br />
    <strong>Zach Skorupka:</strong> <a href="mailto:skorupka@marshall.edu">skorupka@marshall.edu</a>
</address>