@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ORCA: Online Reporting and Consulting Application</h1>
    <p class="lead">ORCA connects innovation with local expertise.</p>
    